# Node
node_modules/

# Angular / Vite / build caches
.angular/
.angular/cache/
.vite/
dist/
out/
build/

# IDEs
.vscode/
.idea/

# Logs / coverage / OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.DS_Store

# Env
.env
.env.local
.env.*.local