


.content-dialog {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}



.mat-mdc-dialog-title {
  font-family: 'Inter', 'Roboto', 'Segoe UI', system-ui, -apple-system, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;            /* más marcado */
  letter-spacing: 0.2px;
  color: #1e0e79;              /* color del texto */
  margin: 0 0 8px 0;           /* separación inferior */
  text-transform: none;        /* o uppercase si prefieres */
  text-align: center;          /* ya lo tienes, confirma centrado */
}