.table-list-container {
  min-height: auto;
  max-width: 4000px;
  padding: 16px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.171);
  background: white;
}

.table-list-container .mat-mdc-header-cell {
  background: #6a60ff;
  color: white;
  font-weight: 600;
}

.table-list-container .mat-mdc-row {
  background: #f7f7f7;
  cursor: pointer;
  border-color: black;
  border-radius: 8px;
}

.table-list-container .mat-mdc-row:nth-child(odd) {
  background: #f7f7f7; /* blanco */
}

.table-list-container .mat-mdc-row:nth-child(even) {
  background: #ffffff; /* gris claro que ya tenés */
}


.table-list-container .mat-mdc-row:hover {
  background: #dfdfdf;
  cursor: pointer;
}

.table-list-container .button-add {
  background: #6a60ff;
  color: white;
}


.toolbar {
  display: flex;
  align-items: center;
  gap: 22px;
}

/* el campo de búsqueda ocupa el espacio disponible */
.search {
  flex: 1 1 400px; /* crece, puede encogerse, base 400px */
  min-width: 200px;
  max-width: 500px;
  border-radius: 6px;
}

.table-wrapper {
  min-height: auto; /* o el valor que quieras */
  overflow: auto;
  border-radius: 8px;
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.171); */
  border: 1px solid #e0e0e0;
}
