<div class="table-list-container">
  <div class="toolbar">
    <mat-form-field class="search" appearance="outline">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($any($event.target).value)"
        placeholder="Paciente, médico, tipo..."
      />
    </mat-form-field>
    <button mat-raised-button class="button-add" (click)="crearSolicitud()">
      <mat-icon>add</mat-icon> Nueva Cirugía
    </button>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tabla-solicitudes">
      <!-- Fecha -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let s">{{ s.fecha }}</td>
      </ng-container>

      <!-- Paciente -->
      <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</th>
        <td mat-cell *matCellDef="let s">{{ s.paciente }}</td>
      </ng-container>

      <!-- Tipo -->
      <ng-container matColumnDef="prioridad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prioridad</th>
        <td mat-cell *matCellDef="let s">{{ s.prioridad }}</td>
      </ng-container>

      <!-- servicio -->
      <ng-container matColumnDef="servicio">
        <th mat-header-cell *matHeaderCellDef>Servicio</th>
        <td mat-cell *matCellDef="let s">{{ s.servicio }}</td>
      </ng-container>

      <!-- Sala -->
      <ng-container matColumnDef="sala">
        <th mat-header-cell *matHeaderCellDef>Sala</th>
        <td mat-cell *matCellDef="let s">{{ s.sala }}</td>
      </ng-container>

      <!-- Especialidad -->
      <ng-container matColumnDef="especialidad">
        <th mat-header-cell *matHeaderCellDef>Especialidad</th>
        <td mat-cell *matCellDef="let s">{{ s.especialidad }}</td>
      </ng-container>

      <!-- Intervencion -->
      <ng-container matColumnDef="intervencion">
        <th mat-header-cell *matHeaderCellDef>Intervencion</th>
        <td mat-cell *matCellDef="let s">{{ s.intervencion }}</td>
      </ng-container>

      <ng-container matColumnDef="anestesia">
        <th mat-header-cell *matHeaderCellDef>Anestesia</th>
        <td mat-cell *matCellDef="let s">{{ s.anestesia }}</td>
      </ng-container>

      <ng-container matColumnDef="cirujano">
        <th mat-header-cell *matHeaderCellDef>Cirujano</th>
        <td mat-cell *matCellDef="let s">{{ s.cirujano }}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let s">{{ s.estado }}</td>
      </ng-container>

      <ng-container matColumnDef="quirofano">
        <th mat-header-cell *matHeaderCellDef>Quirófano</th>
        <td mat-cell *matCellDef="let s">{{ s.quirofano }}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let s">
          <button mat-icon-button color="primary" (click)="verDetalle(s)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[16, 24, 40]" showFirstLastButtons></mat-paginator>
  </div>
</div>
