.table-list-container {
  min-height: auto;
  max-width: 4000px;
  padding: 16px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.171);
  background: white;
}

.table-list-container .mat-mdc-header-cell {
  background: #6a60ff;
  color: white;
  font-weight: 600;
}

.table-list-container .mat-mdc-row {
  background: #f7f7f7;
  cursor: pointer;
  border-color: black;
  border-radius: 8px;
}

.table-list-container .mat-mdc-row:nth-child(odd) {
  background: #ffffff; /* blanco */
}

.table-list-container .mat-mdc-row:nth-child(even) {
  background: #f7f7f7; /* gris claro que ya tenés */
}


.table-list-container .mat-mdc-row:hover {
  background: #dfdfdf;
  cursor: pointer;
}

.table-list-container .button-add {
  background: #6a60ff;
  color: white;
}


.toolbar {
  display: flex;
  align-items: center;
  gap: 22px;
}

/* el campo de búsqueda ocupa el espacio disponible */
.search {
  flex: 1 1 400px; /* crece, puede encogerse, base 400px */
  min-width: 200px;
  max-width: 500px;
  border-radius: 6px;
}

.table-wrapper {
  min-height: auto; /* o el valor que quieras */
  overflow: auto;
  border-radius: 8px;
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.171); */
  border: 1px solid #e0e0e0;
}

:host ::ng-deep table {
  table-layout: fixed; /* para respetar anchos fijos */
}

:host ::ng-deep .mat-column-fechaInicio { width: 120px; }
:host ::ng-deep .mat-column-horaInicio  { width: 90px; }
:host ::ng-deep .mat-column-paciente    { width: 180px; }
:host ::ng-deep .mat-column-dni         { width: 100px; }
:host ::ng-deep .mat-column-servicio    { width: 140px; }
:host ::ng-deep .mat-column-estado      { width: 120px; }
:host ::ng-deep .mat-column-tipo        { width: 110px; }
:host ::ng-deep .mat-column-prioridad   { width: 110px; }
:host ::ng-deep .mat-column-anestesia   { width: 110px; }
:host ::ng-deep .mat-column-quirofano   { width: 110px; }
:host ::ng-deep .mat-column-medicos     { width: 0px; }
:host ::ng-deep .mat-column-acciones    { width: 0px; }
:host ::ng-deep .mat-column-eliminar    { width: 0px; }
