.table-list-container {
  min-height: auto;
  max-width: 4000px;
  padding: 16px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.171);
  background: white;
}

.table-list-container .mat-mdc-header-cell {
  background: #6a60ff;
  color: white;
  font-weight: 600;
}

.table-list-container .mat-mdc-row {
  background: #f7f7f7;
  cursor: pointer;
  border-color: black;
  border-radius: 8px;
}

.table-list-container .mat-mdc-row:nth-child(odd) {
  background: #ffffff; /* blanco */
}

.table-list-container .mat-mdc-row:nth-child(even) {
  background: #f7f7f7; /* gris claro que ya tenés */
}


.table-list-container .mat-mdc-row:hover {
  background: #dfdfdf;
  cursor: pointer;
}

.table-list-container .button-add {
  background: #6a60ff;
  color: white;
  height: 56px; /* igual alto que mat-form-field outline */
  min-height: 56px;
  box-sizing: border-box;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font:  600 16px 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
.table-list-container .button-add mat-icon {
  font-size: 22px;
  width: 22px;
  height: 22px;
}


.toolbar {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 15px;
}

.toolbar .mat-mdc-form-field {
  margin: 0; /* alinear verticalmente con el botón */
  height: 56px;
}
.toolbar .mat-mdc-text-field-wrapper {
  height: 100%;
  align-items: center;
}
.toolbar .mat-mdc-form-field-infix {
  padding-top: 14px;
  padding-bottom: 14px;
}

/* el campo de búsqueda ocupa el espacio disponible */
.search {
  flex: 1 1 400px; /* crece, puede encogerse, base 400px */
  min-width: 200px;
  max-width: 500px;
  border-radius: 6px;
}

.table-wrapper {
  min-height: auto; /* o el valor que quieras */
  overflow: auto;
  border-radius: 8px;
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.171); */
  border: 1px solid #e0e0e0;
}

.tabla-solicitudes {
  width: 100%;
  table-layout: fixed !important; /* forzar anchos fijos */
}

/* Anchos fijos para cada columna */
.mat-column-fechaInicio { width: 80px !important; min-width: 80px; max-width: 80px; }
.mat-column-horaInicio  { width: 75px !important; min-width: 75px; max-width: 75px; }
.mat-column-pacienteNombre    { width: 100px !important; min-width: 100px; max-width: 100px; }
.mat-column-dni         { width: 90px !important; min-width: 90px; max-width: 90px; }
.mat-column-servicioNombre    { width: 100px !important; min-width: 100px; max-width: 100px; }
.mat-column-estado      { width: 90px !important; min-width: 90px; max-width: 90px; }
.mat-column-tipo        { width: 90px !important; min-width: 90px; max-width: 90px; }
.mat-column-prioridad   { width: 90px !important; min-width: 90px; max-width: 90px; }
.mat-column-anestesia   { width: 90px !important; min-width: 90px; max-width: 90px; }
.mat-column-quirofanoNombre   { width: 90px !important; min-width: 90px; max-width: 90px; }
.mat-column-medicos     { width: 33px !important; min-width: 33px; max-width: 33px; }
.mat-column-acciones    { width: 33px !important; min-width: 33px; max-width: 33px; }
.mat-column-eliminar    { width: 33px !important; min-width: 33px; max-width: 33px; }

/* Evitar que el texto desborde las celdas */
.tabla-solicitudes th,
.tabla-solicitudes td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
